altair==5.4.0
beautifulsoup4==4.12.3
branca==0.7.2
docplex==2.28.240
esda==2.6.0
folium==0.17.0
geopandas==1.0.1
haversine==2.8.1
img2pdf==0.5.1
imgkit==1.2.3
libpysal==4.12.0
matplotlib==3.9.2
networkx==3.3
numpy==2.0.1
openai==1.40.6
openrouteservice==2.3.3
ortools==9.10.4067
pandas==2.2.2
pdfkit==1.0.0
plotly==5.23.0
pyarrow==17.0.0
PyYAML==6.0.2
qrcode==7.4.2
Requests==2.32.3
scikit_learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
shap==0.46.0
Shapely==2.0.5
statsmodels==0.14.2
streamlit==1.37.1
streamlit_modal==0.1.2
streamlit_theme==0.58.0
textblob==0.18.0.post0
xgboost==2.1.1
